.participantes {
   font-family: Arial, sans-serif;
   background: linear-gradient(135deg, #d8e8ff, #f4f4f4);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   flex-direction: column;
}

.containerPart {
   background-color: #ffffff;
   padding: 20px;
   border-radius: 12px;
   width: 90%;
   max-width: 800px;
   text-align: center;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.repository-link {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   color: #007BFF;
   margin-bottom: 20px;
   text-align: center;
   transition: color 0.3s, transform 0.3s;
}

.repository-link:hover {
   color: #0056b3;
   transform: scale(1.1);
}

.member {
   display: flex;
   align-items: center;
   background-color: #f9f9f9;
   border-radius: 8px;
   padding: 15px;
   gap: 20px;
   transition: background-color 0.3s, transform 0.3s;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.member:hover {
   background-color: #e6f7ff;
   transform: scale(1.05);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.member img {
   border-radius: 50%;
   width: 100px;
   height: 100px;
   object-fit: cover;
}

.info {
   text-align: left;
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.name {
   font-size: 20px;
   font-weight: bold;
   margin: 0;
   color: #333333;
}

.id, .class {
   font-size: 14px;
   color: #666666;
   margin: 0;
}

a {
   text-decoration: none;
   color: #007BFF;
   font-size: 14px;
   transition: color 0.3s;
}

a:hover {
   color: #0056b3;
}
